[submodule "polyglot"]
	path = polyglot
	url = https://github.com/agkozak/polyglot.git
[submodule "git-aware-prompt"]
	path = git-aware-prompt
	url = git://github.com/jimeh/git-aware-prompt.git
[submodule "onehalf"]
	path = onehalf
	url = https://github.com/sonph/onehalf.git
