! Clean up urxvt
URxvt.intensityStyles: false
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.iso14755_52: false
! Make urxvt look good
URxvt.internalBorder: 10
!fonts
URxvt*font: xft: Terminess\ Powerline:size=9:antialias=true:hinting:true
rofi.font: Terminess\ Powerline 9

#include "/home/joelchrist/.xcolors/hybrid"
